body{
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: lightblue;
}

.cuadrado{
    width: 200px;
    height: 200px;
    background: #7bc900;
    /* animation: entrada .8s; */
    animation: salida .8s forwards;
}

@keyframes entrada{
    0%{
        transform: translateY(-100vh);
    }

    60%{
        transform: translateY(25px);
    }

    75%{
        transform: translateY(-10px);
    }

    90%{
        transform: translateY(5px);
    }
}

@keyframes salida{
    10%{
        transform: translateY(5px);
    }

    25%{
        transform: translateY(-10px);
    }

    40%{
        transform: translateY(25px);
    }
    
    100%{
        transform: translateY(-100vh);
    }
}

